{% extends 'base.html' %}

{% block content %}
<section class="py-3 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">login</h1>
        </div>
    </div>
</section>
<section class="py-2 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">로그인</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}